body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    margin-bottom: 30px;
}
.flex{
    display: flex;
    margin-bottom: 150px;
}
.bgimg{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-size: 75%;
}
.newbg{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
.half{
    width: 50%;
    padding-left: 5%;
}
.half img{
    width: 85%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 15px 40px;
    border-radius: 10px;
    font-weight: 700;
    color: white;
}
.bgimage2{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 8%;
}
.shadow{
    box-shadow: 10px 10px 40px 15px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 15px;
}
#frist{
    border-left: 7px solid;
    border-image: linear-gradient(purple,salmon);
    border-image-slice:1;
}
#second{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice:1;
}
footer p{
    text-align: center;
    font-size: 20px;
}
