body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section{
    display: flex;
    margin-bottom: 150px;
    font-size: x-large;
}
.bgimg{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-size: 75%;
}
.newbg{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
.half{
    width: 50%;
    padding-left: 5%;
}
.half img{
    width: 85%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 15px 40px;
    border-radius: 10px;
    font-weight: 700;
    color: white;
}